<mat-card class="card">
    <nav class="navbar navbar-expand navbar-dark bg-dark" fxFlex="100" fxLayout="row">
        <div class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="/create-emp" class="nav-link">Add Employee</a>
            </li>
            <li class="nav-item">
                <a routerLink="/list-emp" class="nav-link">Employees List</a>
            </li>
            <!-- <li class="nav-item">
                <a routerLink="/update-emp" class="nav-link">View/Update Details</a>
            </li> -->
        </div>
    </nav>
</mat-card>