<div class="container" fxLayout="column" fxFlex="100" fxLayoutGap="3px">
    <div fxLayout="row" fxFlex="100">
        <mat-card class="card" fxFlex="100" fxFlexAlign="center">
            <h3 class="pt3 text-pos">
                {{title}}
            </h3>
        </mat-card>
    </div>
    <div class="w100" fxLayout="row" fxFlex="100">
        <app-navbar-header fxFlex="100"></app-navbar-header>
    </div>
    <div class="w100 pt3" fxLayout="row" fxFlex="100">
        <router-outlet></router-outlet>
    </div>
</div>